<form class="properties-panel" [formGroup]="panelProperyForm">
  <p>Properties Panel</p>
  <input
    type="text"
    formControlName="label"
    (input)="updateModel()"
    placeholder="Label"
    class="form-control"
  />
  <br />
  <input
    type="text"
    formControlName="stroke"
    (input)="updateModel()"
    placeholder="Stroke Colour e.g #FFFFFF"
    class="form-control"
  />
  <br />
  <input
    type="text"
    formControlName="fill"
    (input)="updateModel()"
    placeholder="Fill Colour e.g #FFFFFF"
    class="form-control"
  />
</form>
