.canvas {
  height: 100%;
  width: 100%;
}

.palette {
  z-index: 9999;
  border: 1px solid #dcdcdc;
  background-color: #f8f8f8 !important;
  box-shadow: 3px 3px #d8d8d8;
  border-radius: 5px;
  left: 15px;
  opacity: 1;
  top: 15px;
}

.palette {
  height: 300px;
  width: 120px;
  position: absolute;
}
