
.palette {
  height: 300px;
  width: 120px;
  z-index: 9999;
  position: absolute;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #dadada;
  left: 15px;
  opacity: 1;
}

.properties-panel {
  position: absolute;
  right: 15px;
  top: 80px;
  padding: 10px;
  z-index: 9999;
  border: 1px solid #dcdcdc;
  background-color: #dadada;
  border-radius: 5px;
  opacity: 1;
}

.draw-component {
  margin: 15px;
}
