.canvas {
  height: 80vh !important;
  width: 70vw !important;
  border: 1px solid #e3e3e3;
  margin: 0 auto !important;
}

.palette {
  z-index: 9999;
  border: 1px solid #dcdcdc;
  background-color: #f8f8f8 !important;
  border-radius: 5px;
  left: 15px;
  opacity: 1;
}

.palette {
  height: 300px;
  width: 120px;
  position: absolute;
}
